body{
  background: #C2EFD4;
  box-sizing: border-box;
  margin: 0;
}

/* Change the selection background color and text color */
::selection {
  background-color: #11ae96; /* Background color of the selection */
  color: #ffffff; /* Text color of the selection */
}

/* For Firefox */
::-moz-selection {
  background-color: #11ae96;
  color: #ffffff;
}
