.about-container {
    padding: 50px;
    text-align: center;
    background-color: #C2EFD4;
    color: #224F34;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .about-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .about-box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 10px;
    width: 220px;
    transition: transform 0.5s ease, background-color 0.5s ease;
    position: relative;
  }
  
  .about-box:hover {
    transform: translateY(-10px);
    background-color: #C2EFD4;
    color: black;
  }
  
  .about-box h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .about-box p {
    font-size: 1rem;
    color: #555;
  }
  
  .about-box:hover h3, .about-box:hover p {
    color: black; /* Text turns white on hover */
  }
  
  .about-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .about-box:hover::before {
    opacity: 1;
  }
  
  @keyframes move-box {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  
  .about-box:hover {
    animation: move-box 0.5s ease-in-out;
  }
  