.Home-Main{
    display: flex;
    box-sizing: border-box;
    padding: 10px 150px 90px 150px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    min-height: 83vh;
    
}

.Home-Left{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 30px;
}

.Home-Right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-h1{
    font-size: 4.3vw; /* Scales with screen size */
    color: #224F34;
    font-weight: 100;
}

.Home-texturelines li{
    color: #224F34;
    list-style: none;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.Home-ExploreBtn{
    max-width: 160px;
    height: 50px;
    cursor: pointer;
    padding: 0px 30px;
    background: #306F4A;
    color: white;
    text-align: center;
    border-radius: 15px;
    border: 0px;
    margin-top: 10px;
    box-shadow: 10px 10px 100px black;
    font-family: 'Poppins', sans-serif;
}

.Sareeimg{
    height: 500px;
    max-width: 100%;
    object-fit: cover;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
    .Home-Main {
        padding: 0px 50px;
        flex-direction: column;
    }

    .Home-Left {
        width: 100%;
        text-align: center;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .Home-h1 {
        font-size: 5.4vw;
    }

    .Home-Right {
        width: 100%;
    }

    .Sareeimg {
        height: 300px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .Home-Main {
        padding: 70px 20px;
    }

    .Home-h1 {
        font-size: 7vw;
    }

    .Sareeimg {
        height: 250px;
        margin-top: 30px;
    }

    .Home-ExploreBtn {
        max-width: 140px;
        height: 45px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .Home-Main {
        padding: 60px 10px;
    }

    .Home-h1 {
        font-size: 8vw;
    }

    .Sareeimg {
        height: 200px;
        margin-top: 30px;
    }

    .Home-ExploreBtn {
        max-width: 120px;
        height: 40px;
        padding: 0 10px;
    }
    
}
